/* font family */
.staatliches-regular {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.francois-one-regular {
    font-family: "Francois One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.farro-light {
    font-family: "Farro", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* base styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    color: black;
    background: white;
    font-size: 28px;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.section {
    padding: 12px 0;
    margin: 0 auto;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 120px;
}

.title {
    font-size: 36px;
    line-height: 1.3;
    text-transform: uppercase;
}
.sup-title {
    font-size: 30px;
    line-height: 1.2;
    text-transform: capitalize;
}

/* header styles */
.header {
    padding: 13px 0;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;
}
.header-nav {
    display: flex;
    gap: 50px;
    align-items: center;
}
.header-eng {
    width: 50px;
    height: 20px;
}
.header-nav-links {
    display: flex;
    gap: 10px;
    align-items: center;
}
.header-logo {
    width: 238px;
    height: 54px;
}

/* hero styles */
.hero {
    padding: 0;
}
.hero-title {
    font-size: 40px;
    line-height: 1.3;
    text-transform: uppercase;
    margin: 0 auto;
    opacity: 0;
}
